<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="../css/mis-mascotas.css">
</head>
<body>
<header class="header" id="inicio">
    <nav class="barra-navegacion">
        <div class="titulo">
        <span><img src="../../public/img/logo-mascota.png" alt=""></span>
        <h1>|Mis Mascotas</h1>
        </div>
        <ul class="links">
            <li class="link"><a href="#inicio">Tienda</a></li>
            <li class="link"><a href="#tienda">Cuidado</a></li>
            <li class="link"><a href="">Tu mascota</a></li>
            <li class="link"><a href="../../index.html">Volver A Portafolio</a></li>
        </ul>
    </nav>


</header>
<main class="main">
<section class="tienda" id="tienda">

    <h2 id="tiendaTitulo">Tienda</h2>
    <div class="container">
        <article class="articulos">
        
        <img src="../../public/img/collar.jpg" alt="">
        <div class="articulos-info">
            <h3>Collar big-size</h3>
            <h4>Precio <span>$200.000</span></h4>
            <button class="botones">Comprar</button>
        </div>

        </article>
        <article class="articulos">
        
        <img src="../../public/img/kit.jpg" alt="">
        
        <div class="articulos-info">
            <h3>Kit de juegos</h3>
            <h4>Precio <span>$270.000</span></h4>
            <button class="botones">Comprar</button>
        </div>

        </article >
        <article class="articulos">
        <img src="../../public/img/gorro.avif" alt="">
       
        <div class="articulos-info">
            <h3>Gorro fiesta</h3>
            <h4>Precio <span>$120.000</span></h4>
            <button class="botones">Comprar</button>
        </div>

        </article>
        <article class="articulos">
             <img src="../../public/img/capa.avif" alt="">
        
            <div class="articulos-info">
                <h3>Capa cat</h3>
                <h4>Precio <span>$180.000</span></h4>
                <button class="botones">Comprar</button>
            </div>

        </article>
        <article class="articulos">
            <img src="../../public/img/conejo.avif" alt="">
        
            <div class="articulos-info">
                <h3>Bob good</h3>
                <h4>Precio <span>$320.000</span></h4>
                <button class="botones">Comprar</button>
            </div>

        </article>
        <article class="articulos">
        
             <img src="../../public/img/bolsa.avif" alt="">
             <div class="articulos-info">
                <h3>Bolsa niñera</h3>
                <h4>Precio <span>$420.000</span></h4>
                <button class="botones">Comprar</button>
             </div>
    </article>
    </div>
    
</section>

</main>
<footer>

</footer>
    
</body>
</html>