<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="../css/mis-mascotas.css">
</head>
<body>
<header class="header" id="inicio">
    <div class="titulo">
        <span><img src="../../public/img/logo-mascota.png" alt=""></span>
        <h1>|Mis Mascotas</h1>
    </div>
    <ul class="barra-nevegacion">
        <li><a href="#inicio"></a>Tienda</li>
        <li><a href="#tienda"></a>Cuidado</li>
        <li>Tu mascota</li>
        <li>Beneficios</li>
    </ul>


</header>
<main class="main">
<section class="tienda" id="tienda">

    <h2 id="tiendaTitulo">Tienda</h2>
    <div class="grid">
        <article class="articulos">
        <h3>Collar big-size</h3>
        <img src="../../public/img/collar.jpg" alt="">
        <h4>Precio <span>$200.000</span></h4>
        <button class="botones">Comprar</button>

        </article>
        <article class="articulos">
        <h3>Kit de juegos</h3>
        <img src="../../public/img/kit.jpg" alt="">
        <h4>Precio <span>$270.000</span></h4>
        <button class="botones">Comprar</button>

        </article >
        <article class="articulos">
        <h3>Gorro fiesta</h3>
        <img src="../../public/img/gorro.avif" alt="">
        <h4>Precio <span>$120.000</span></h4>
        <button class="botones">Comprar</button>

        </article>
        <article class="articulos">
        <h3>Capa cat</h3>
        <img src="../../public/img/capa.avif" alt="">
        <h4>Precio <span>$180.000</span></h4>
        <button class="botones">Comprar</button>

        </article>
        <article class="articulos">
        <h3>Bob good</h3>
        <img src="../../public/img/conejo.avif" alt="">
        <h4>Precio <span>$320.000</span></h4>
        <button class="botones">Comprar</button>

    </article>
    <article class="articulos">
        <h3>Bolsa niñera</h3>
        <img src="../../public/img/bolsa.avif" alt="">
        <h4>Precio <span>$420.000</span></h4>
        <button class="botones">Comprar</button>
    </article>
    </div>
    
</section>

</main>
<footer>

</footer>
    
</body>
</html>