<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="../css/pets/mis-mascotas.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header class="header" id="inicio">
    <nav class="barra-navegacion">
        <div class="titulo">
        <span><img src="../../public/img/logo-mascota.png" alt=""></span>
        <h1>|Mis Mascotas</h1>
        </div>
        <ul class="links">
            <li ><a href="#inicio" class="link">Tienda</a></li>
            <li ><a href="#tienda" class="link">Cuidado</a></li>
            <li ><a href="../../index.html" class="link">Volver A Portafolio</a></li>
        </ul>
        <button class="menu"><i class="fa-solid fa-bars"></i></button>
    </nav>
    <div class="" id="overlay"></div>
    

</header>
<main class="main">
<section class="tienda" id="tienda">

    <h2 id="tiendaTitulo">Tienda</h2>
    <div class="container">
        <article class="articulos">
        
        <img src="../../public/img/collar.jpg" alt="">
        <div class="articulos-info">
            <h3>Collar big-size</h3>
            <h4>Precio <span>$200.000</span></h4>
            <button class="botones">Comprar</button>
        </div>

        </article>
        <article class="articulos">
        
        <img src="../../public/img/kit.jpg" alt="">
        
        <div class="articulos-info">
            <h3>Kit de juegos T </h3>
            <h4>Precio <span>$270.000</span></h4>
            <button class="botones">Comprar</button>
        </div>

        </article >
        <article class="articulos">
        <img src="../../public/img/gorro.avif" alt="">
       
        <div class="articulos-info">
            <h3>Gorro fiesta</h3>
            <h4>Precio <span>$120.000</span></h4>
            <button class="botones">Comprar</button>
        </div>

        </article>
        <article class="articulos">
             <img src="../../public/img/capa.avif" alt="">
        
            <div class="articulos-info">
                <h3>Capa cat off</h3>
                <h4>Precio <span>$180.000</span></h4>
                <button class="botones">Comprar</button>
            </div>

        </article>
        <article class="articulos">
            <img src="../../public/img/conejo.avif" alt="">
        
            <div class="articulos-info">
                <h3>Bob good</h3>
                <h4>Precio <span>$320.000</span></h4>
                <button class="botones">Comprar</button>
            </div>

        </article>
        <article class="articulos">
        
             <img src="../../public/img/bolsa.avif" alt="">
             <div class="articulos-info">
                <h3>Bolsa niñera</h3>
                <h4>Precio <span>$420.000</span></h4>
                <button class="botones">Comprar</button>
             </div>
    </article>
    </div>
    
</section>

</main>
<footer>
    <p>By: Samuel Roncancio. &copy; Todos los derechos de autor reservado</p>
        <div class="social-media">
            <a href="" class="link-social-media"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="" class="link-social-media"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="link-social-media"><i class="fa-brands fa-github"></i></a>
            <a href="" class="link-social-media"><i class="fa-brands fa-whatsapp"></i></a>
        </div>


</footer>
<script src="../js/mascotasMenu.js"></script>  
</body>
</html>