*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
:root{
    --color_principal:#fff;
    --color_secundario:#607d3b;

}

body{
    font-family: sans-serif;

}

a{
    text-decoration: none;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.8rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;

}

main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
section{
    scroll-margin-top: 10rem;
}
/*clases globales*/
.title{
    text-align: center;
    margin-bottom: 3rem;
}
.title::after{
    content: "";
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: var(--color_secundario);
    margin: 1rem auto 0;
    border-radius: 0.5rem;
}

/* seccion header*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
.barra_navegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:var(--color_secundario);
    align-items: center;
    padding: 2.5rem;

}
.links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    font-size: 1.8rem;

}
.link {
    color: #000;
    transition: color .3s ease;

}
.link:hover{
    color: var(--color_principal);
}

.link::after{
    content:'' ;
    display: block;
    height: 0.3rem;
    width: 0;
    background-color: var(--color_principal);
    margin-top: 0.3rem;
    border-radius: 1rem;
    transition: width .3s ease;

}
.link:hover::after{
    width: 100%;
}

.menu{
   padding: 1rem;
   width: fit-content;
   background-color: transparent;
   border: 0.1rem solid var(--color_principal);
   color: var(--color_principal);
   border-radius: 0.4rem;
   display: none;
}
.fa-bars{
    font-size: 18px;
}
/* seccion inicio*/
.inicio{
    margin: top 7rem;;
    padding: 8rem ;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
}




.inicio_info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 60rem;

}
.social_media{
    display: flex;
    gap: 2rem;
}
.link_social_media{
    height: 4rem;
    width: 4rem;
    border: 0.1rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
    background-color:var(--color_secundario);
    transition:opacity .3s, transform .3s;
}
.link_social_media:hover{
    opacity:0.9;
    transform: translateY(-10rem);
}
.fa-brands{
    font-size: 2.2rem;
    color:var(--color_principal);


}
.link_social_media:nth-child(1){
    background-color:#1877f2;
}
.link_social_media:nth-child(2){
    background-image: linear-gradient(45deg, 
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #fcaf45);
}
.link_social_media:nth-child(3){
    background-color:#181717;
}
.btn_contact{
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border: 0.2rem solid #000;
    background-color:transparent;
    transition: background-color .3s;
    border-radius: 12rem;

}
.btn_contact a{
    font-size: 1.5rem;
    color: #000;
}
.btn_contact:hover{
    background-color: #556b2f;

}
.btn_contact:hover a{
    color:var(--color_principal);
}
.inicio_img img{
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
}
/*biografia seccion*/


.biografia_section{
    background-color:#eee;
    padding: 5rem 2rem;
    max-width: 90rem;
    margin: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left:0.4rem solid var(--color_secundario);


}
/* linea de tiempo*/
.line_time{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linea_tiempo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    

}
.container_line_time{
    display: flex;
    gap: 3rem;
    justify-content: center;
    max-width: 87rem;
    

}
.linea{
    width: 0.2rem;
    background-color: #000;
    border-radius: 1.2rem;
}
.item_line_time{
    background-color: #eee;
    padding: 4rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.linea_tiempo time{
    background-color: var(--color_secundario);
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: var(--color_principal);
}
/*seccion proyectos*/
.proyectos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.container_proyect{
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.proyecto{
    padding: 4rem;
    background-color:#eee;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.img_proyect{
    max-width: 100%;
    height:auto ;
}
.btn_proyecto{
    width: fit-content;
    padding: 1rem 4rem;
    background-color:transparent;
    border-radius: 12rem;
    
    cursor: pointer;
    transition:background-color .3s ease;

}

.btn_proyecto:hover{
    background-color:var(--color_secundario);
}
.btn_proyecto a{
    color: #000;
    font-size: 1.7rem;
}
.btn_proyecto:hover a{
    color: var(--color_principal);
}
/*secccion galeria*/
.gallery{
    
   
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.gallery_container{
    max-width: 90rem;
    position: relative;
    display: flex;
    overflow: hidden;

}
.gallery_subcontainer{
    display: flex;
    gap: 3rem;

}
.gallery_item{
    min-width: 100%;
    display: flex;
    justify-content: center;

}
.gallery_item img{
    width: 80%;
    height: auto;
    object-fit: cover;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color_secundario);
    color: var(--color_principal);
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 2rem;

}
.prev{
    left: 0;
}
.next{
    right: 0;
}
/*seccion contact*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

form{
    width: 40%;
    max-width: 90rem;
    padding: 4rem;
    border-radius: 1.5rem;
    background-color:#eee;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

}
form h3{
    text-align: center;
}
input,textarea{
    padding: 1rem;
    font-size: 1.6rem;
    resize: none;

}
input[type="submit"]{
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;

}
input[type="submit"]:hover{
    color: var(--color_principal);
    background-color: var(--color_secundario);


}
/* footer seccion*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #000;
    color: var(--color_principal);
    padding: 2rem;

}
/*diseño responsive*/
@media screen and (max-width) {
    
    
}