@import url(./header.css);
@import url(./inicio.css);
@import url(./biografia.css);
@import url(./trayectoria.css);
@import url(./proyectos.css);
@import url(./gallery.css);
@import url(./contactos.css);
@import url(./footer.css);
@import url(./responsive.css);






*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
:root{
    --color_principal:#fff;
    --color_secundario:#607d3b;
    --color_terciario:#eee;
    --color_negro:#000;

}

body{
    font-family: sans-serif;

}

a{
    text-decoration: none;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.8rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;

}
label{
    font-size: 1.8rem;
}


main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
section{
    scroll-margin-top: 10rem;
}
/*clases globales*/
.title{
    text-align: center;
    margin-bottom: 3rem;
}
.title::after{
    content: "";
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: var(--color_secundario);
    margin: 1rem auto 0;
    border-radius: 0.5rem;
}

.max_width{
    max-width: 90rem;
}

