/*secccion galeria*/
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.gallery-container{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
   gap: 20px;
}

.gallery-item{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery-item img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 2rem;
}

.btn-prev{
    left: 0;
    transition: opacity .3s ease;
}

.btn-next{
    right: 0;
    transition: opacity .3s ease;
}